.searchBar-container {
  display: flex;
  column-gap: 0.5rem;
  margin: 0.5rem;
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 0.3rem 0rem;
  margin: auto;
  border: 1px solid gray;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.input-bar {
  display: flex;
  width: 80%;
}

.input-bar input {
  border: white;
  width: 100%;
}

.product-filters {
  display: none;
  flex-direction: row;
  justify-content: center;
}

.product-filters fieldset {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.1rem 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  min-height: 4rem;
}

.product-filters legend {
  text-align: left;
}

.product-filters label {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
  padding: 0.5rem;
}

.products-display {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  gap: 1rem 1rem;
  max-width: 900px;
}

.products-display a{
  display: flex;
}

.card {
  width: 100%;
  border-color: white;
  border-style: none;
  border-top-left-radius: 0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.card .card-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  flex-grow: 1;
  padding: 0 0.5rem;
  align-items: flex-start;
}

.card-details .card-name {
  flex-grow: 1;
}

.card-details .card-tagline {
  flex-grow: 1;
}

.card-details .card-rating{
  color: var(--primary);
  font-size: small;
  padding: 0.1rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.products-display  .card-price {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.products-display .card-links  {
  width: 100%;
}

.products-display .bttn{
  width: 100%;
}

.products-display a{
  width: 100%;
}


/*  */

.card-grey-out {
  opacity: 0.5;
}

.products-display .card-img {
  display: block;
  max-width:20rem;
  max-height:20rem;
  width: 100%;
  height: auto;
}

.card .card-text {
  z-index: 1;
  color: var(--primary);
  font-size: 1.3rem;
  text-shadow: 0.1rem 0.1rem black;
}

.card .card-price{
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .search-bar {
    position: fixed;
    top: 1.4rem;
    left: 22%;
    width: 50%;
    z-index: 2;
    max-width: 50rem;
  }

  .product-filters {
    display: flex;
    flex-direction: row;
  }

  .product-filters fieldset {
    flex-direction: row;
  }

  .filter-sort-bttn {
    display: none;
  }

}
